/* Common & Layout */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
em, p, button {
  margin: 0; 
  padding: 0; 
  font-style:inherit; 
  font-family:inherit;
}

.bg-rainbow, body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3a0008+0,3d1d00+8,2d2d00+20,003a21+36,00203d+57,21003d+77,282c34+92 */
  background: #3a0008; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #3a0008 0%, #3d1d00 8%, #2d2d00 20%, #003a21 36%, #00203d 57%, #21003d 77%, #282c34 92%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg,  #3a0008 0%,#3d1d00 8%,#2d2d00 20%,#003a21 36%,#00203d 57%,#21003d 77%,#282c34 92%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg,  #3a0008 0%,#3d1d00 8%,#2d2d00 20%,#003a21 36%,#00203d 57%,#21003d 77%,#282c34 92%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a0008', endColorstr='#282c34',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.bg-microbialmat {
  background:
  radial-gradient(circle at 0% 50%, rgba(255, 255, 255, 0) 9px, #fff 10px, rgba(255, 255, 255, 0) 11px) 0px 10px,
  radial-gradient(at 100% 100%,      rgba(255, 255, 255, 0) 9px, #fff 10px, rgba(255, 255, 255, 0) 11px),
  transparent;
  background-size: 20px 20px;
}

/* Layout */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  position: relative;
}

/* Navigation */
.App-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: right;
}

.App-navigation-link {
  margin-right: 2vmin;
  padding:0 1vmin;
  line-height: 10vmin;
  font-size: 4vmin;
  color: #fff;
  background: 0;
  border: 0;
  cursor: pointer;
}
.App-navigation-link:hover {
  text-decoration: underline;
}

/* App Logo */
.App-logo {
  margin: 10vmin auto 0;
  width: 15vmin !important;
  height: 15vmin !important;
  transition: transform 0.3s ease;
}

.App-logo:hover {
  transform: scale(1.1);
}

.App-logo-link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.App-logo-image {
  display: block;
  width: 100%;
  height: 100%;
}

/* App rank */
.App-rank {
  margin-top: 5vmin;
}
.App-text {
  padding: 0 1vmin;
  line-height: 5vmin;
  font-size: 3vmin;
  color: #fff;
}

.App-text-em {
  display: block;
  line-height: 7vmin;
  font-size: 6vmin;
  color: #fff;
}

/* App Image Link Form */
.App-image-link-form {
  position: relative;
  margin: 5vmin 0 0;
}

.App-image-link-form .App-text {
  margin-bottom: 5vmin;
}

.App-inputbox {
  display: inline-block;
  vertical-align: top;
  box-shadow: 0 0 10px 5px #fff;
}

.App-input {
  vertical-align: top;
  padding: 0 15px;
  box-sizing: border-box;
  height: 10vmin;
  line-height: 10vmin;
  font-size: 4vmin;
  font-weight: bold;
  color: #fff;
  background: 0;
  border: 0;
}

.App-button-submit {
  vertical-align: top;
  padding: 0 15px;
  height: 10vmin;
  line-height: 10vmin;
  font-size: 6vmin;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 10px #002a54;
  border: 0;
  cursor: pointer;
}

/* App Particles */
.App-particles {
  position: fixed;
  top: 0;
  left: 0; 
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* App Face Recognition */
.App-face-recognition {
  position: relative;
  margin: 5vmin;
  overflow: hidden;
}

.App-face-recognition .App-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-weight: bold;
  text-shadow: 1px 1px 10px #000;
}

.App-image {
  display: block;
  width: 100%;
  height: 100%;
}

.bounding-boxes {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.1s ease-in;
}
.bounding-box:hover {
  opacity: 1;
}